@theme {
    /* Glitch */
    --color-glitch-50: oklch(98.2% 0.002 95.7);  /* #f9f9f9 */
    --color-glitch-100: oklch(95.9% 0.003 95.7); /* #f2f2f2 */
    --color-glitch-200: oklch(91.8% 0.005 95.7); /* #e2e2e2 */
    --color-glitch-300: oklch(86.6% 0.008 95.7); /* #cdcecd */
    --color-glitch-400: oklch(79.9% 0.012 95.7); /* #afb1af */
    --color-glitch-500: oklch(70.9% 0.017 95.7); /* #8c908c */
    --color-glitch-600: oklch(57.7% 0.023 95.7); /* #727772 */
    --color-glitch-700: oklch(48.2% 0.027 95.7); /* #5a605a */
    --color-glitch-800: oklch(39.9% 0.031 95.7); /* #474c47 */
    --color-glitch-900: oklch(27.1% 0.036 95.7); /* #2d312d */
    --color-glitch-950: oklch(21.0% 0.037 95.7); /* #202320 */

    /* Primary */
    --color-primary-dark: oklch(0.987 0.024 297.388deg); /* #FAFBFA */
    --color-primary-light: oklch(0.252 0.004 178.076deg); /* #202320 */
    --color-primary-foreground-dark: oklch(0.252 0.004 178.076deg); /* #202320 */
    --color-primary-foreground-light: oklch(0.987 0.024 297.388deg); /* #FAFBFA */

    /* Secondary */
    --color-secondary-dark: oklch(0.425 0.011 158.621deg); /* #495149 */
    --color-secondary-foreground-dark: oklch(0.987 0.024 297.388deg); /* #FAFBFA */

    /* Accent */
    --color-accent-dark: oklch(0.425 0.011 158.621deg); /* #495149 */
    --color-accent-light: oklch(0.965 0.022 295.183deg); /* #F2F4F2 */

    --color-accent-foreground-dark: oklch(0.987 0.024 297.388deg); /* #FAFBFA */
    --color-accent-foreground-light: oklch(0.364 0.008 162.514deg); /* #3A403A */

    /* Foreground & Background */
    --color-foreground-dark: oklch(0.987 0.024 297.388deg); /* #FAFBFA */
    --color-foreground-light: oklch(0.364 0.008 162.514deg); /* #3A403A */

    --color-background-dark: oklch(0.252 0.004 178.076deg); /* #202320 */
    --color-background-light: oklch(0.987 0.024 297.388deg); /* #FAFBFA */

    /* Border */
    --color-border-dark: oklch(0.425 0.011 158.621deg); /* #495149 */
    --color-border-light: oklch(0.965 0.022 295.183deg); /* #F2F4F2 */

    /* Card */
    --color-card-dark: oklch(0.252 0.004 178.076deg); /* #202320 */
    --color-card-light: oklch(0.987 0.024 297.388deg); /* #FAFBFA */

    --color-card-foreground-dark: oklch(0.987 0.024 297.388deg); /* #FAFBFA */
    --color-card-foreground-light: oklch(0.252 0.004 178.076deg); /* #202320 */

    /* Chart */
    --color-chart-1-dark: oklch(0.529 0.271 273.704deg); /* #2662D9 */
    --color-chart-1-light: oklch(0.631 0.093 196.892deg); /* #2A9D90 */
    --color-chart-2-dark: oklch(0.612 0.207 7.759deg); /* #E23670 */
    --color-chart-2-light: oklch(0.677 0.176 56.276deg); /* #E76E50 */
    --color-chart-3-dark: oklch(0.813 0.278 103.539deg); /* #E8BC30 */
    --color-chart-3-light: oklch(0.379 0.058 252.794deg); /* #274754 */
    --color-chart-4-dark: oklch(0.619 0.281 308.955deg); /* #AF57DB */
    --color-chart-4-light: oklch(0.833 0.188 100.339deg); /* #E8C468 */
    --color-chart-5-dark: oklch(0.699 0.133 165.828deg); /* #2EB88A */
    --color-chart-5-light: oklch(0.785 0.173 80.000deg); /* #F4A462 */

    /* Destructive */
    --color-destructive-dark: oklch(0.396 0.139 46.031deg); /* #7F1D1D */
    --color-destructive-light: oklch(0.577 0.234 52.284deg); /* #DC2626 */
    --color-destructive-foreground-dark: oklch(0.966 0.027 312.879deg); /* #F8F2F2 */
    --color-destructive-foreground-light: oklch(0.966 0.027 312.879deg); /* #F8F2F2 */

    /* Input */
    --color-input-dark: oklch(0.425 0.011 158.621deg); /* #495149 */
    --color-input-light: oklch(0.934 0.019 292.244deg); /* #E7EAE7 */

    /* Muted */
    --color-muted-dark: oklch(0.425 0.011 158.621deg); /* #495149 */
    --color-muted-light: oklch(0.965 0.022 295.183deg); /* #F2F4F2 */
    --color-muted-foreground-dark: oklch(0.772 0.008 201.508deg); /* #AEB8AE */
    --color-muted-foreground-light: oklch(0.685 0.009 182.615deg); /* #939D93 */

    /* Popover */
    --color-popover-dark: oklch(0.252 0.004 178.076deg); /* #202320 */
    --color-popover-light: oklch(0.987 0.024 297.388deg); /* #FAFBFA */
    --color-popover-foreground-dark: oklch(0.987 0.024 297.388deg); /* #FAFBFA */
    --color-popover-foreground-light: oklch(0.252 0.004 178.076deg); /* #202320 */

    /* Ring */
    --color-ring-dark: oklch(0.878 0.015 287.626deg); /* #D4D8D4 */
    --color-ring-light: oklch(0.364 0.008 162.514deg); /* #3A403A */
}
