@import 'tailwindcss';

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
}

@theme {
    /* Padding for safe areas on iOS */
    /* TODO: Verify these are needed still */
    --padding-safe-top: calc(env(safe-area-inset-top) + 16px);
    --padding-safe-bottom: env(safe-area-inset-bottom);
    --padding-safe-left: env(safe-area-inset-left);
    --padding-safe-right: env(safe-area-inset-right);
}
