@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "OverusedGrotesk";
    src: url("/fonts/OverusedGroteskRoman-VF.ttf") format("truetype-variations");
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-style: normal;
    font-display: swap;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    overscroll-behavior: none;
}

@layer base {
    :root {
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        --sat: env(safe-area-inset-top);
        --sab: env(safe-area-inset-bottom);
        --sal: env(safe-area-inset-left);
        --sar: env(safe-area-inset-right);

        /* Glitch */
        --glitch-50: 0 0% 98%; /* #f9f9f9 */
        --glitch-100: 0 0% 95%; /* #f2f2f2 */
        --glitch-200: 0 0% 89%; /* #e2e2e2 */
        --glitch-300: 120 1% 81%; /* #cdcecd */
        --glitch-400: 120 2% 70%; /* #afb1af */
        --glitch-500: 120 2% 56%; /* #8c908c */
        --glitch-600: 120 2% 45%; /* #727772 */
        --glitch-700: 120 2% 36%; /* #5a605a */
        --glitch-800: 120 2% 29%; /* #474c47 */
        --glitch-900: 120 2% 19%; /* #2d312d */
        --glitch-950: 120 2% 13%; /* #202320 */

        --background: var(--glitch-50);
        --foreground: var(--glitch-900);
        --muted: var(--glitch-100);
        --muted-foreground: var(--glitch-500);
        --popover: var(--glitch-50);
        --popover-foreground: var(--glitch-950);
        --card: var(--glitch-50);
        --card-foreground: var(--glitch-950);
        --border: var(--glitch-100);
        --input: var(--glitch-200);
        --primary: var(--glitch-950);
        --primary-foreground: var(--glitch-50);
        --secondary: var(--glitch-100);
        --secondary-foreground: var(--glitch-900);
        --accent: var(--glitch-100);
        --accent-foreground: var(--glitch-900);
        --destructive: 0 72.2% 50.6%; /* red-600 */
        --destructive-foreground: 0 85.7% 97.3%; /* red-50 */
        --ring: var(--glitch-900);
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --background: var(--glitch-950);
        --foreground: var(--glitch-50);
        --muted: var(--glitch-800);
        --muted-foreground: var(--glitch-400);
        --popover: var(--glitch-950);
        --popover-foreground: var(--glitch-50);
        --card: var(--glitch-950);
        --card-foreground: var(--glitch-50);
        --border: var(--glitch-800);
        --input: var(--glitch-800);
        --primary: var(--glitch-50);
        --primary-foreground: var(--glitch-950);
        --secondary: var(--glitch-800);
        --secondary-foreground: var(--glitch-50);
        --accent: var(--glitch-800);
        --accent-foreground: var(--glitch-50);
        --destructive: 0 72.2% 50.6%; /* red-600 */
        --destructive-foreground: 0 85.7% 97.3%; /* red-50 */
        --ring: var(--glitch-300);
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@supports not (-webkit-touch-callout: none) {
    /* Android specific styles */
    .pt-safe-top {
        padding-top: max(16px, var(--sat, 16px));
        margin-top: max(8px, var(--sat, 8px));
    }
    .pb-safe-bottom {
        padding-bottom: max(8px, var(--sab, 8px));
    }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="tel"] {
    @apply bg-transparent outline-none border border-input focus:ring-2 focus:ring-input px-3 py-2 text-sm/5;
}

label {
    @apply text-sm/6 font-medium;
}
